
/*Global settings*/
/**{margin:0 !important; padding:0 !important;}*/
.container-fluid{background-color:yellow;}
h3 {text-align:center; }
a:visited {color:white;}

/*Header*/
#header{
	background:blue;
	color:white;
	border:.5px solid black;
	border-bottom:none;
	font:2em 'Palatino Linotype',Times serif; 
	padding:2em 1em 2em 1em 
}
.text-hide {display:none;}
.titImg, .titCont {
	margin-left:auto;
	margin-right:auto;
}
.titImg{
	display: inline-block;
}

.topHeader ul {
	list-style-type:none;
	padding:0;
}

/*navigation*/
#navigation{
	background:blue; 
	border:0.5px solid black;
	text-align:center;
}

.nav {
	height:3em;
	color:white;
}
.nav a, .nav i {
	display:inline-block;
	margin-top:1em !important;	
}

/*UpperSlider*/
#aside {background:white;}
.slider{
	background-color:green;
	height:auto;
	width:80%;
}

/*Main sections*/
#sectionAbout, #sectionContacts{background:white;}
#sectionEdges{background:blue;}
#sectionAbout, #sectionContacts,	#sectionEdges, #footer {padding:1.5em 1.5em 2em 1.5em;}

.aboutHeader, .edgesHeader, .contactsHeader {
	margin-bottom:2em; 
	height:3em;
}

.aboutImg img{
	max-width:100%;
	height:auto;
}

.edges {
	margin:1.2em 0;
}
.edges img{
	max-width:50%;
	height:auto;
	background-color:white;
	border:0.7em solid purple;
	border-radius:20%;
	margin-bottom:1.5em;
}
.edges p {
	text-indent: 1.5em;
}

.map iframe {
	min-width:100%;
	height:30em;
	margin-bottom:2em;
}

/*Footer*/
#footer{background:blue;}