
/*Global settings*/
body{background-color:#F4F7FA !important;}
.container{background-color:yellow;}
h3 {text-align:center; }
a:visited {color:white;}

/*Header*/
#header{
	background:#0828B5;
	color:white;
	border:1px solid black;
	border-bottom:none;
	font:2em 'Palatino Linotype',Times serif; 
	padding:2em 1em 2em 1em 
}
.text-hide {display:none;}
.titImg, .titCont {
	margin-left:auto;
	margin-right:auto;
}
.titImg{
	display: inline-block;
}

.topHeader ul {
	list-style-type:none;
	padding:0;
}

/*navigation*/
#navigation{
	background:#0828B5; 
	border:0.5px solid black;
	text-align:center;
}

.nav {
	height:3em;
	color:white;
}
.nav a, .nav i {
	display:inline-block;
	margin-top:1em !important;	
}

/*UpperSlider*/
#aside {
	background:#D6DBE0;						 		/*color light-gray*/
	border-bottom:5px solid #C2D5DD;	/*color lighter-shadow*/
}
.upperSlider{
	background-color:gray;
	padding:0 !important;
	margin-top:2em;
	margin-bottom:2em;
	border:0.1em solid #0828B5;
}
.upperSlider img{
	width:100%;
	height:auto;
	padding:0;
	margin:0;
}

/*Main sections*/
#sectionAbout, #sectionContacts{background:white; color:#061351;}  /*color darker-blue*/
#sectionEdges{
	background:#0828B5; 										 /*bg-color bgBlue*/
	color:white; 
	border-bottom:7px solid #364174; 				 /*color - darker-shadow*/
}
#sectionAbout, #sectionContacts,	
#sectionEdges {padding:1.5em 1.5em 2em 1.5em;}

.aboutHeader, .edgesHeader, .contactsHeader {
	margin-bottom:2em; 
	height:3em;
}

.aboutImg img{
	max-width:100%;
	height:auto;
	border:0.1em solid #0828B5;
}

.edges {
	margin:1.2em 0;
}
.edges img{
	max-width:65%;
	height:auto;
	background-color:white;
	border:0.6em solid #C2D5DD;										 /*color - lighter-shadow*/
	border-radius:20%;
	margin-bottom:1.5em;
}
.edges p {
	text-indent: 1.5em;
}

.map {
	border:0.1em solid #0828B5;
	margin-bottom:2em;
	padding:0 !important;
}
.map iframe {
	min-width:100%;
	height:30em;
}

/*Footer*/
#footer {padding:1em 1em 1em 1em;}
#footer{background:#0828B5; color:white;}
#footer h3 {
	display:inline-block;
	margin:0 !important;
}
#devLink, #copypast {
	padding-top:3em;
}